<template>
    <nav class="navbar navbar-expand navbar-dark">
        <span class="navbar-brand">
            <img src="/img/Header.png" alt="Venvito" />
        </span>

        <div class="separator">&nbsp;</div>

        <div class="main-menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <router-link to="/activities" class="nav-link">
                        <span class="fas fa-tty fa-lg"></span>
                        Activities
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/dashboard" class="nav-link">
                        <span class="fas fa-chart-bar fa-lg"></span>
                        Dashboard
                    </router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script src="./apptitle.ts"></script>
<style src="./apptitle.css"></style>