tr.activity-row
{
  vertical-align: baseline;
}

td.activity-badge
{
  max-width: 10px;
  width: 10px;
  padding: 0;
}

td.activity-count
{
  width: 40px;
  font-weight: 600;
  font-size: xx-large;
  text-align: right;
}

td.activity-description
{
  font-weight: 400;
  text-align: left;
  vertical-align: bottom;
  padding-bottom: 18px;
  padding-left: 0;
}

td.activity-button,
td.activity-amount-button
{
  width: 70px;
  vertical-align: middle;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #dee2e6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #dee2e6;
  padding: 0;
}

  td.activity-button button,
  td.activity-amount-button button
  {
    height: 70px;
  }

td.activity-amount
{
  text-align: left;
}

td.activity-amount
{
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

td.activity-amount-button
{
  padding-top: 2px;
  padding-bottom: 1px;
}

div.activity-amount-description
{
  font-size: small;
  color: gray;
  text-transform: uppercase;
}

div.activity-amount
{
  font-weight: 600;
  font-size: x-large;
}

td.activity-amount-button span
{
  font-weight: 600;
  font-size: large;
}
