tr.activity-row
{
  vertical-align: baseline !important;
}

td.activity-badge
{
  max-width: 10px;
  width: 10px;
  padding: 0 !important;
}

td.activity-count
{
  width: 40px !important;
  font-weight: 600 !important;
  font-size: xx-large !important;
  text-align: right !important;
  padding: 0.75rem !important;
  padding-top: 1rem !important;
}

td.activity-description
{
  font-weight: 400 !important;
  font-size: 16px !important;
  text-align: left !important;
  vertical-align: bottom !important;
  padding-bottom: 18px !important;
  padding-left: 0 !important;
}

td.activity-button,
td.activity-amount-button
{
  width: 70px !important;
  vertical-align: middle;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #dee2e6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #dee2e6;
  padding: 0;
}

td.activity-button button,
td.activity-amount-button button
{
  height: 70px;
  width: 70px;
}

td.activity-amount-button button
{
  width: 100%;
}

td.activity-button,
td.activity-amount-button
{
  padding: 0 !important;
  padding-top: 2px !important;
}

td.activity-button span,
td.activity-amount-button span
{
  font-size: 21px;
}

td.activity-amount
{
  text-align: left !important;
}

td.activity-amount
{
  padding-top: 0.375rem !important;
  padding-bottom: 0.375rem !important;
}

td.activity-amount-button
{
  padding-top: 2px !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

div.activity-amount-description
{
  font-size: small !important;
  color: gray !important;
  text-transform: uppercase !important;
}

div.activity-amount
{
  font-weight: 600 !important;
  font-size: x-large !important;
}

div.activity-amount input
{
  font-weight: 600 !important;
  font-size: x-large !important;
}

div.activity-amount div.input-group
{
  padding: 0 !important;
}

  div.activity-amount div.input-group__details
  {
    display: none !important;
  }

td.activity-amount-button span
{
  font-weight: 600 !important;
  font-size: large !important;
}
